/**
 * Main styles for: minnpost-elections-dashboard
 *
 * Make the default styles for a 960px wide screen.  A mobile
 * first approach is fine, but starting with a 960px wide
 * screen means that older browsers that do not support
 * media queries will be fine as they are all desktop browsers.
 */

body .node-unpublished {
  background-repeat: no-repeat;
}

.interactive-container  {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
}

.minnpost-elections-dashboard-application-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
  font-family: $sans-serif-font;

  .clear {
    clear: both;
  }
  .hidden {
    display: none;
  }

  /* Clearfix from http://nicolasgallagher.com/micro-clearfix-hack/ */
  .cf:before,
  .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  .cf:after {
    clear: both;
  }
  .cf {
    *zoom: 1;
  }

  .footnote {
    font-size: .75em;
    font-style: italic;
    color: #414141;
    margin-top: 3em;
    border-top: 1px solid #BCBCBC;
    padding-top: 1em;
  }

  .loading {
    width: 100%;
    text-align: center;
    padding: 2em 2em;
    color: #ABABAB;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;

    span {
      padding: 10px 5px 10px 40px;
      background: transparent $loader-image center left no-repeat;
      vertical-align: middle;
      height: 100%;
      line-height: 100%;
    }
  }

  h3 {
    font-size: 2em;
  }

  // Maps
  .contest-map {
    width: 100%;
  }

  #contests-map {
    height: 30em;
  }

  .contest-view .contest-map {
    height: 30em;
  }

  // Tables
  table {
    width: 100%;
  }

  table thead th {
    padding-bottom: 0;
  }

  table thead tr.table-second-heading th {
    padding-top: 0;
    padding-bottom: .5em;
    font-weight: normal;
    font-style: italic;
    color: $color-medium-gray;
    font-size: .85em;
  }

  table tbody tr.even {
    background-color: $color-lighter-gray;
  }

  // Forms
  label {
    display: block;
  }

  input[type=text] {
    font-size: 1.5em;
    padding: .25em;
    border: 1px solid $color-medium-gray;
    min-width: 10em;
    width: 50%;
    margin-bottom: 1em;
  }

  input[type=text]:focus {
    border: 1px solid $color-dark-gray;
  }

  input[type=submit] {
    margin-left: .5em;
    padding: .25em 1em;
    font-size: 1.5em;
    line-height: 1.25em;
    background-color: $color-button-blue;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    max-width: 40%;
    cursor: pointer;
    @include border-radius(none);
    @include box-shadow(5px 5px 5px $color-light-gray);
  }

  // Typehead
  .tt-hint {
    color: $color-medium-gray;
  }

  .tt-dropdown-menu {
    font-size: 1em;
    line-height: 1.25em;
    width: 90%;
    margin-top: .25em;
    padding: .25em 0;
    background-color: #FFFFFF;
    border: 1px solid $color-medium-gray;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @include border-radius(3px);
    @include box-shadow(0 5px 10px rgba(0,0,0,.2));
  }

  .tt-suggestion {
    padding: .25em .5em;
  }

  .tt-suggestion.tt-is-under-cursor {
    color: #FFFFFF;
    background-color: $color-dark-gray;
  }

  .tt-suggestion p {
    margin: 0;
  }

  // General
  .contest-link {
    display: block;
    text-align: right;
    margin-bottom: 1em;
  }

  .dashboard-link {
    display: block;
    margin-bottom: 1em;
  }

  // Contest
  .contest .last-updated {
    min-height: 1.5em;
    font-weight: bold;
    color: $color-medium-gray;
    margin-bottom: 1em;
  }

  .contest .contest-link {
    display: none;
  }

  // Contests
  .contests .contests-title {
    margin-bottom: 1em;
  }

  .contests .contest-list .dashboard-link {
    display: none;
  }

  .contests .contest-list h3 {
    font-size: 1.5em;
    font-family: $sans-serif-font;
  }

  .contests .contest-list .contest-link {
    display: block;
  }


  // Dashboard
  .dashboard .dashboard-section {
    margin-bottom: 2em;
  }

  .dashboard .dashboard-inner-column-left {
    padding-right: .75em;
  }

  .dashboard .dashboard-inner-column-right {
    padding-left: .75em;
  }

  .dashboard .location-search-section {
    padding-bottom: 2em;
    margin-bottom: 2em;
    text-align: center;
    border-bottom: 1px solid $color-light-gray;
  }

  .dashboard .location-search-group {
    text-align: right;
    width: 50%;
    vertical-align: top;
    @include inline-block();
  }

  .dashboard .location-search-section input[type=text] {
    margin-bottom: .5em;
    width: 95%;
  }

  .dashboard .elections-search .twitter-typeahead {
    width: 90%;
  }

  .dashboard .elections-search input[type=text] {
    width: 100%;
    display: block;
    margin: 0;
  }

  .dashboard .elections-search label {
    font-style: italic;
    color: $color-medium-gray;
    font-size: .85em;
    margin: .5em 0;
  }

  .dashboard .elections-search .tt-dropdown-menu {
    width: 100%;
  }

  .dashboard .contest-minneapolis-council tr.table-first-heading {
    display: none;
  }

  .dashboard .contest-minneapolis-council .dashboard-contest h4 {
    font-family: $sans-serif-font;
    margin: .25em 0 .5em 0;
    font-size: .9em;
    text-transform: uppercase;
  }

  .dashboard .last-updated-section {
    min-height: 1.5em;
    margin-bottom: 2em;
    text-align: center;
    font-weight: bold;
    color: $color-medium-gray;
  }
}