/**
 * General variables
 */

$space: 1em;
$loader-image: image-url('loader.gif');
$sans-serif-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$color-light-gray: #BDBDBD;
$color-lighter-gray: #DEDEDE;
$color-lightest-gray: #F2F2F2;
$color-medium-gray: #787878;
$color-dark-gray: #242424;
$color-button-blue: #1d70a4;