MAILTO=tnehil+scraper@minnpost.com
CODE_PATH=/home/ubuntu/minnpost-scraper-mn-election-results


#   .---------------- minute (0 - 59)
#   |     .------------- hour (0 - 23)
#   |     |     .---------- day of month (1 - 31)
#   |     |     |     .------- month (1 - 12) OR jan,feb,mar,apr ...
#   |     |     |     |     .---- day of week (0 - 6) (Sunday=0 or 7)  OR sun,mon,tue,wed,thu,fri,sat
#   |     |     |     |     |
#   *     *     *     *     *       command to be executed

# Offset hours for server time
# and MN time (-5): 3AM MN = 8AM UK


# Results.  Run script that only runs results scraper when not already
# running.

    *     *     *     *     *       cd $CODE_PATH && bash $CODE_PATH/deploy/scraper_runner.sh

# Longer manual intervals if needed.
    # 0,7,14,21,28,35,32,49 * * * *   cd $CODE_PATH && python $CODE_PATH/code/scraper.py scrape results


# Meta.  We only need to do these things occassionally and not on Tuesday or Wednesday

    0     7      *     *  0,1,4,5,6 cd $CODE_PATH && python $CODE_PATH/code/scraper.py scrape questions
    0     8      *     *  0,1,4,5,6 cd $CODE_PATH && python $CODE_PATH/code/scraper.py scrape areas
    0     9      *     *  0,1,4,5,6 cd $CODE_PATH && python $CODE_PATH/code/scraper.py match_contests
