MAILTO=scraper@zzolo.org


#   .---------------- minute (0 - 59)
#   |     .------------- hour (0 - 23)
#   |     |     .---------- day of month (1 - 31)
#   |     |     |     .------- month (1 - 12) OR jan,feb,mar,apr ...
#   |     |     |     |     .---- day of week (0 - 6) (Sunday=0 or 7)  OR sun,mon,tue,wed,thu,fri,sat
#   |     |     |     |     |
#   *     *     *     *     *    command to be executed

# Run the general results every 5 minutes
# except when we want to run some of the other
# meta scripts.  Offset hours for server time
# and MN time (-5): 3AM MN = 8AM UK

# Results.  We want to do it every 5 minutes so that we can catch results
# as soon as they are updated (which is more like every 15 minutes)

    0,5,10,15,20,25,30,35,40,45,50 * * * * python /home/ubuntu/minnpost-scraper-mn-election-results/code/scraper.py scrape results
    # Longer intervals if needed
    # 0,7,14,21,28,35,32,49          * * * * python /home/ubuntu/minnpost-scraper-mn-election-results/code/scraper.py scrape results

# Meta.  The areas can be kind of long depending on the server and
# traffic.

    52   8      *     *     *    python /home/ubuntu/minnpost-scraper-mn-election-results/code/scraper.py scrape areas

    8    9      *     *     *    python /home/ubuntu/minnpost-scraper-mn-election-results/code/scraper.py match_contests
