<div class="contest {{ classes }} {{#(ranked_choice == 1)}}is-ranked-choice {{/()}}{{#(final === true)}}is-final{{/()}}">
  <a class="dashboard-link" href="#dashboard">&larr; Back to dashboard</a>

  <div>
    {{#((results.length == 0 || results == undefined) && !synced)}}
      {{>loading}}
    {{/()}}
  </div>

  {{#((results.length == 0 || results == undefined) && synced)}}
    <h3>Did not find any contests</h3>
  {{/()}}


  {{#((results.length > 0) && synced)}}
    <h3>{{ title }}{{#primary}} &nbsp;<small class="last-updated">primary</small>{{/primary}}</h3>

    <div class="last-updated">Last updated at {{ updated.format('h:mm a') }}</div>

    {{#(!!question_body)}}
      <p>{{{ question_body }}}</p>
    {{/()}}
  {{/()}}

  <div class="row">
    <div class="column-medium-70 inner-column-left">
      <table class="striped">
        <thead>
          <tr class="table-first-heading">
            <th class="winner-column"></th>
            <th>Candidate</th>
            {{#partisan}}
              <th>Party</th>
            {{/partisan}}
            {{#(ranked_choice == 1)}}
              <th class="first-choice-column">Results</th>
              <th class="second-choice-column"></th>
              <th class="third-choice-column"></th>
              <th class="final-column">Final</th>
            {{/()}}
            {{#(ranked_choice != 1)}}
              <th>Percentage</th>
              <th>Votes</th>
            {{/()}}
          </tr>
          <tr class="table-second-heading">
            <th class="winner-column"></th>
            <th>{{ precincts_reporting }} of {{ total_effected_precincts }} precincts reporting.  {{#(seats > 1)}}Choosing {{ seats }}.{{/()}}</th>
            {{#partisan}}
              <th></th>
            {{/partisan}}
            {{#(ranked_choice == 1)}}
              <th class="first-choice-column first-choice-heading">1st choice</th>
              <th class="second-choice-column second-choice-heading">2nd choice</th>
              <th class="third-choice-column third-choice-heading">3rd choice</th>
              <th class="final-column"></th>
            {{/()}}
            {{#(ranked_choice != 1)}}
              <th></th>
              <th></th>
            {{/()}}
          </tr>
        </thead>

        <tbody>
          {{#results:r}}
            <tr data-row-id="{{ id }}" class="{{ (r % 2 === 0) ? 'even' : 'odd' }}">
              <td class="winner-column">{{#winner}}<span class="bs-icon bs-icon-won"></span>{{/winner}}{{#(winner === false)}}<span class="bs-icon-spacer"></span>{{/()}}</td>

              <td class="candidate-column">{{ candidate }}</td>

              {{#partisan}}
                <td>{{ party_id }}</td>
              {{/partisan}}

              {{#(ranked_choice == 1)}}
                <td class="first-choice-column first-choice-heading">{{ formatters.number(ranked_choices.1.percentage) }}% ({{ formatters.number(ranked_choices.1.votes_candidate, 0) }}&nbsp;votes)</td>
                <td class="second-choice-column first-choice-heading">{{ formatters.number(ranked_choices.2.percentage) }}% ({{ formatters.number(ranked_choices.2.votes_candidate, 0) }}&nbsp;votes)</td>
                <td class="third-choice-column first-choice-heading">{{ formatters.number(ranked_choices.3.percentage) }}% ({{ formatters.number(ranked_choices.3.votes_candidate, 0) }}&nbsp;votes)</td>
                <td class="final-column first-choice-heading">{{#ranked_choices.100.percentage}}{{ formatters.number(ranked_choices.100.percentage) }}% ({{ formatters.number(ranked_choices.100.votes_candidate, 0) }}&nbsp;votes){{/ranked_choices.100.percentage}}{{^ranked_choices.100.percentage}}&mdash;{{/ranked_choices.100.percentage}}</td>
              {{/()}}

              {{#(ranked_choice != 1)}}
                <td>{{ formatters.number(percentage) }}%</td>
                <td>{{ formatters.number(votes_candidate, 0) }}</td>
              {{/()}}
            </tr>
          {{/results}}
        </tbody>
      </table>

      <a href="#contest/{{ id }}" class="contest-link">Permalink</a>
    </div>

    <div class="column-medium-30 inner-column-right">
      <div class="contest-map" id="contest-map-{{ id }}">
      </div>
    </div>
  </div>
</div>
