<div class="contest {{#isDashboard}}dashboard-contest{{/isDashboard}} {{ classes }} {{#(ranked_choice == 1)}}is-ranked-choice {{/()}} {{#(final === true)}}is-final{{/()}} {{#primary}}primary{{/primary}} contest-{{id}}">
  {{^isDashboard}}
    <a class="dashboard-link" href="#dashboard">&larr; Back to dashboard</a>
  {{/isDashboard}}

  <div>
    {{#((results.length == 0 || results == undefined) && !synced)}}
      {{>loading}}
    {{/()}}
  </div>

  {{#((results.length == 0 || results == undefined) && synced)}}
    <h3>Did not find any contests</h3>
  {{/()}}


  {{#((results.length > 0) && synced)}}
    <h3>
      {{#(customTitle != undefined)}}{{ customTitle }}{{/()}}
      {{#(customTitle == undefined)}}{{ title }}{{/()}}
      {{#(show_party != undefined)}}<span class="show-party party-label bg-color-political-{{ show_party.toLowerCase() }}" title="{{ parties[show_party.toLowerCase()] }}">{{ show_party }}</span>{{/()}}
    </h3>

    {{#sub_title}}
      <h5>{{ sub_title }}</h5>
    {{/sub_title}}

    {{^isDashboard}}
      <div class="last-updated">Last updated {{ updated.formatToday() }}</div>
    {{/isDashboard}}

    {{#(!!question_body)}}
      <p>{{{ question_body }}}</p>
    {{/()}}

    {{#percent_needed}}
      <p><em>This contest requires {{ formatters.number(percent_needed, 1) }}% or more "yes" votes for the measure to pass.</em></p>
    {{/percent_needed}}
  {{/()}}

  <div class="{{^isDashboard}}row{{/isDashboard}}">
    <div class="{{^isDashboard}}column-medium-70 inner-column-left{{/isDashboard}}">
      <div class="">
        <table class="striped">
          <thead>
            <tr class="table-first-heading">
              <th class="winner-column"></th>
              <th>Candidate</th>
              {{#(partisan && show_party === undefined)}}
                <th>
                  <span class="large-table-label">Party</span>
                  <span class="small-table-label"></span>
                </th>
              {{/()}}
              {{#(ranked_choice == 1)}}
                <th class="first-choice-column">Results</th>
                <th class="second-choice-column"></th>
                <th class="third-choice-column"></th>
                <th class="final-column">Final</th>
              {{/()}}
              {{#(ranked_choice != 1)}}
                {{^isDashboard}}
                  <th class="percentage">
                    <span class="large-table-label">Percentage</span>
                    <span class="small-table-label">%</span>
                  </th>
                  <th class="votes">Votes</th>
                {{/isDashboard}}
                {{#isDashboard}}
                  <th class="percentage">Results</th>
                {{/isDashboard}}
              {{/()}}
            </tr>
            <tr class="table-second-heading">
              <th class="winner-column"></th>
              <th>{{ precincts_reporting }} of {{ total_effected_precincts }} precincts reporting.  {{#(seats > 1)}}Choosing {{ seats }}.{{/()}}</th>
              {{#(partisan && show_party === undefined)}}
                <th></th>
              {{/()}}
              {{#(ranked_choice == 1)}}
                <th class="first-choice-column first-choice-heading">1st choice</th>
                <th class="second-choice-column second-choice-heading">2nd choice</th>
                <th class="third-choice-column third-choice-heading">3rd choice</th>
                <th class="final-column"></th>
              {{/()}}
              {{#(ranked_choice != 1)}}
                <th></th>
                {{^isDashboard}}
                  <th></th>
                {{/isDashboard}}
              {{/()}}
            </tr>
          </thead>

          <tbody>
            {{#results:r}} {{#(!isDashboard || ((show_party == undefined && (r < 2 || (rows != undefined && r < rows))) || (show_party && party_id == show_party)))}}
              <tr data-row-id="{{ id }}" class="{{ (r % 2 === 0) ? 'even' : 'odd' }} {{#primary}}{{ party_id.toLowerCase() }}{{/primary}}">
                <td class="winner-column">{{#winner}}{{#(!too_close_to_call || called)}}<span class="fa fa-check"></span>{{/()}}{{/winner}}</td>

                <td class="candidate-column">{{ candidate }}</td>

                {{#(partisan && show_party === undefined)}}
                  <td>
                    {{#(['WI', 'NP'].indexOf(party_id) === -1)}}
                      <span class="party-label bg-color-political-{{ party_id.toLowerCase() }}" title="{{ parties[party_id.toLowerCase()] }}">{{ party_id }}</span>
                    {{/()}}
                  </td>
                {{/()}}

                {{#(ranked_choice == 1)}}
                  <td class="first-choice-column first-choice-heading">{{ formatters.number(ranked_choices.1.percentage) }}% ({{ formatters.number(ranked_choices.1.votes_candidate, 0) }}&nbsp;votes)</td>
                  <td class="second-choice-column first-choice-heading">{{ formatters.number(ranked_choices.2.percentage) }}% ({{ formatters.number(ranked_choices.2.votes_candidate, 0) }}&nbsp;votes)</td>
                  <td class="third-choice-column first-choice-heading">{{ formatters.number(ranked_choices.3.percentage) }}% ({{ formatters.number(ranked_choices.3.votes_candidate, 0) }}&nbsp;votes)</td>
                  <td class="final-column first-choice-heading">{{#ranked_choices.100.percentage}}{{ formatters.number(ranked_choices.100.percentage) }}% ({{ formatters.number(ranked_choices.100.votes_candidate, 0) }}&nbsp;votes){{/ranked_choices.100.percentage}}{{^ranked_choices.100.percentage}}&mdash;{{/ranked_choices.100.percentage}}</td>
                {{/()}}

                {{#(ranked_choice != 1)}}
                  <td class="percentage">{{ formatters.number(percentage) }}%</td>
                  {{^isDashboard}}
                    <td class="votes">{{ formatters.number(votes_candidate, 0) }}</td>
                  {{/isDashboard}}
                {{/()}}
              </tr>
            {{/()}} {{/results}}
          </tbody>
        </table>
      </div>
      
      <a href="#contest/{{ id }}" class="contest-link">{{#isDashboard}}Full results{{/isDashboard}}{{^isDashboard}}Permalink{{/isDashboard}}</a>
    </div>



    {{^isDashboard}}
      <div class="column-medium-30 inner-column-right">
        <div class="contest-map" id="contest-map-{{ id }}"></div>
      </div>
    {{/isDashboard}}
  </div>
</div>
