<div class="dashboard-state-leg">
  <h3>MN House of Representatives</h3>

  {{#(!contests.length)}}
    {{>loading}}
  {{/()}}

  <div class="state-leg-boxes cf">
    <div class="state-leg-boxes-left">
      {{#contests:ci}}{{#(ci < contests.length / 2)}}
        <a href="#/contest/{{ id }}" class="
          {{#(!done && some)}}some{{/()}}
          {{#done}}done bg-color-political-{{ partyWon.toLowerCase() }}{{/done}}
          {{#partyShift}}party-shift{{/partyShift}}
          state-leg-box" title="{{ title }}"></a>
      {{/()}}{{/contests}}
    </div>
    <div class="state-leg-boxes-right">
      {{#contests:ci}}{{#(ci >= contests.length / 2)}}
        <a href="#/contest/{{ id }}" class="
          {{#(!done && some)}}some{{/()}}
          {{#done}}done bg-color-political-{{ partyWon.toLowerCase() }}{{/done}}
          {{#partyShift}}party-shift{{/partyShift}}
          state-leg-box" title="{{ title }}"></a>
      {{/()}}{{/contests}}
    </div>
  </div>

  <div class="state-leg-totals">
    {{#counts:ci}}
      <span class="color-political-{{ id.toLowerCase() }}" title="{{ party }}">{{ count }}</span>
      {{#(ci < counts.length - 1)}} -&nbsp; {{/()}}
    {{/counts}}
  </div>

  <div class="state-leg-legend">
    <div class="legend-item">
      <div class="legend-box unknown"></div> Not reporting yet
    </div>

    <div class="legend-item">
      <div class="legend-box some"></div> Some reporting
    </div>

    <div class="legend-item">
      <div class="legend-box solid"></div> Colored box is fully reported
    </div>

    <div class="legend-item">
      <div class="legend-box party-shift"></div> District has changed parties
    </div>
  </div>

  <div class="state-leg-rnet">
    <div class="heading">
      Republican net gain{{^allDone}}&nbsp;so far{{/allDone}}:
      <span class="color-political-r rnet">
        {{ (rNet > 0) ? '+' : '' }}{{ rNet }}
      </span>
    </div>
    <div class="sub-heading">Republicans need a net gain of at least +7 to win control of the House.</div>
  </div>
</div>
