<div class="dashboard {{ classes }}">

  <div class="row location-search-section">
    <form role="form" class="" on-submit="addresssSearch">

      <div class="location-search-group">
        <div class="form-input-group">
          <label for="address" class="sr-only">Search address for results</label>
          <input type="text" id="address-search" placeholder="Search address for results">

          <div class="button-group">
            <button type="submit" class="button primary address-search-submit">Search</button>
          </div>
        </div>
      </div>

      {{#geolocationEnabled}}
        <div class="geolocation">
          <a href="#location">Or view contests at your current location <i class="fa fa-location-arrow"></i></a>
        </div>
      {{/geolocationEnabled}}
    </form>
  </div>

  <div class="row last-updated-section">
    <div>
      {{#election.date}}
        {{ election.date.format('MMM DD') }} {{ (election.primary) ? 'primary' : 'general' }} election.
      {{/election.date}}
      {{#election.updated}}
        Last updated at {{ election.updated.format('h:mm a') }}
      {{/election.updated}}
    </div>
  </div>

  <div class="row">
    <div class="column-medium-50">
      <div class="inner-column-left">

        <div class="contest-governor-r dashboard-section">
          {{#contestGovernorR}}
            {{>contest}}
          {{/contestGovernorR}}
        </div>

        <div class="contest-auditor-dfl dashboard-section">
          {{#contestAuditorDFL}}
            {{>contest}}
          {{/contestAuditorDFL}}
        </div>

        <div class="elections-search dashboard-section">
          <h4>Other elections</h4>

          <form role="form" class="" on-submit="contestSearch">

            <p class="caption" for="contest-search">{{#capabilities.typeahead}}Search contests by title or candidate.  Start typing to see suggestions for specific contests, or search by {{/capabilities.typeahead}}{{^capabilities.typeahead}}Search contests by title with {{/capabilities.typeahead}} keywords (e.g., "<a href="#search/duluth">Duluth</a>" or "<a href="#search/school+board">school board</a>").</p>

            <div class="form-input-group">
              <input type="text" id="contest-search" placeholder="Search by title{{#capabilities.typeahead}} or candidate{{/capabilities.typeahead}}" />

              <div class="button-group">
                <button type="submit" class="button primary contest-search-submit">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="column-medium-50">
      <div class="inner-column-right">

        <div class="contest-senate-r dashboard-section">
          {{#contestSenateR}}
            {{>contest}}
          {{/contestSenateR}}
        </div>

        <div class="contest-house-60b-dfl dashboard-section">
          {{#contestHouse60BDFL}}
            {{>contest}}
          {{/contestHouse60BDFL}}
        </div>

        <div class="contest-house-48b-r dashboard-section">
          {{#contestHouse48BR}}
            {{>contest}}
          {{/contestHouse48BR}}
        </div>

      </div>
    </div>
  </div>
</div>
