<div class="dashboard {{ classes }}">

  <div class="location-search-section">
    <form role="form" class="" on-submit="addresssSearch">

      <div class="location-search-group">
        <div class="form-input-group">
          <label for="address" class="sr-only">Search address for results</label>
          <input type="text" id="address-search" placeholder="Search address for results">

          <div class="button-group">
            <button type="submit" class="button primary address-search-submit">Search</button>
          </div>
        </div>
      </div>

      {{#geolocationEnabled}}
        <div class="geolocation">
          <a href="#location">Or view contests at your current location <i class="fa fa-location-arrow"></i></a>
        </div>
      {{/geolocationEnabled}}
    </form>
  </div>

  <div class="last-updated-section">
    <div>
      {{#election.date}}
        {{ election.date.format('MMM DD, YYYY') }} {{ (election.primary) ? 'primary' : 'general' }} election {{#election.isTest}}<em>test</em>{{/election.isTest}} results.
      {{/election.date}}
      {{#election.updated}}
        Last updated {{ election.updated.formatToday() }}
      {{/election.updated}}
    </div>
  </div>

  <div class="row">
    <div class="column-medium-50">
      <div class="inner-column-left">

        <div class="contest-governor-r dashboard-section">
          {{#contestGovernorR}}
            {{>contest}}
          {{/contestGovernorR}}
        </div>

        <div class="contest-auditor-dfl dashboard-section">
          {{#contestAuditorDFL}}
            {{>contest}}
          {{/contestAuditorDFL}}
        </div>

        <div class="elections-search dashboard-section">
          <h4>Other elections</h4>
          {{>electionsSearch}}
        </div>
      </div>
    </div>

    <div class="column-medium-50">
      <div class="inner-column-right">

        <div class="contest-senate-r dashboard-section">
          {{#contestSenateR}}
            {{>contest}}
          {{/contestSenateR}}
        </div>

        <div class="contest-house-60b-dfl dashboard-section">
          {{#contestHouse60BDFL}}
            {{>contest}}
          {{/contestHouse60BDFL}}
        </div>

        <div class="contest-house-48b-r dashboard-section">
          {{#contestHouse48BR}}
            {{>contest}}
          {{/contestHouse48BR}}
        </div>

        <div class="elections-search dashboard-section">
          <h4>Other elections</h4>
          {{>electionsSearch}}
        </div>

      </div>
    </div>
  </div>
</div>
