<form role="form" class="" on-submit="contestSearch">

  <p class="caption" for="contest-search">{{#capabilities.typeahead}}Search contests by title or candidate.  Start typing to see suggestions for specific contests, or search by {{/capabilities.typeahead}}{{^capabilities.typeahead}}Search contests by title with {{/capabilities.typeahead}} keywords (e.g., "<a href="#search/state+representative">state representative</a>" or "<a href="#search/school+board">school board</a>").</p>

  <div class="form-input-group">
    <input type="text" class="contest-search" placeholder="Search by title{{#capabilities.typeahead}} or candidate{{/capabilities.typeahead}}" />

    <div class="button-group">
      <button type="submit" class="button primary contest-search-submit">Search</button>
    </div>
  </div>
</form>
