<div class="dashboard cf grid-container grid-parent {{ classes }}">

  <div class="grid-parent grid-100 location-search-section">
    <form on-submit="addresssSearch">
      <div class="location-search-group">
        <input type="text" id="address-search" placeholder="Search by address for results" />

        {{#geolocationEnabled}}
          <div class="geolocation">
            <a href="#location">Or view contests at your current location</a>
          </div>
        {{/geolocationEnabled}}
      </div>

      <input type="submit" value="Go" class="address-search-submit" />
    </form>
  </div>

  <div class="grid-parent grid-100 last-updated-section">
    {{#contestMinneapolisMayor.updated}}
      <div intro="fade">
        Last updated at {{ contestMinneapolisMayor.updated.format('h:mm a') }}
      </div>
    {{/contestMinneapolisMayor.updated}}
  </div>

  <div class="grid-parent grid-50 tablet-grid-50 mobile-grid-100">
    <div class="inner-column-left">
      <div class="contest-governor-dfl dashboard-section">
        {{#contestGovernorDFL}}
          {{>dashboardContest}}
        {{/contestGovernorDFL}}
      </div>

      <div class="contest-governor-r dashboard-section">
        {{#contestGovernorR}}
          {{>dashboardContest}}
        {{/contestGovernorR}}
      </div>

      <div class="elections-search dashboard-section">
        <h4>Other elections</h4>

        <form on-submit="contestSearch">
          <label for="contest-search">{{#capabilities.typeahead}}Search contests by title or candidate.  Start typing to see suggestions for specific contests, or search by {{/capabilities.typeahead}}{{^capabilities.typeahead}}Search contests by title with {{/capabilities.typeahead}} keywords (e.g., "<a href="#search/duluth">Duluth</a>" or "<a href="#search/school+board">school board</a>").</label>

          <input type="text" id="contest-search" placeholder="Search by title{{#capabilities.typeahead}} or candidate{{/capabilities.typeahead}}" />
          <input type="submit" value="Go" class="contest-search-submit" />
        </form>
      </div>
    </div>
  </div>

  <div class="grid-parent grid-50 tablet-grid-50 mobile-grid-100">
    <div class="inner-column-right">
      <div class="contest-auditor-dfl dashboard-section">
        {{#contestAuditorDFL}}
          {{>dashboardContest}}
        {{/contestAuditorDFL}}
      </div>

      <div class="contest-sos-dfl dashboard-section">
        {{#contestSoSDFL}}
          {{>dashboardContest}}
        {{/contestSoSDFL}}
      </div>

    </div>
  </div>
</div>
