<div class="contests">
  <a class="dashboard-link" href="#dashboard">&larr; Back to dashboard</a>

  <div class="grid-container grid-parent cf">
    <div class="grid-70 tablet-grid-70 mobile-grid-100 grid-parent inner-column-left">
      <h3 class="contests-title {{#(lonlat != undefined)}}with-location{{/()}}">{{ (title) ? title : 'Contests' }}</h3>

      {{#(lonlat != undefined)}}
        <p class="location-note">The map below shows the approximate location of your search. If the location is not correct, try <a href="#dashboard">searching for a more specific address</a>.</p>

        <div id="location-map"></div>
      {{/())}}
    </div>

    <div class="grid-30 tablet-grid-30 mobile-grid-100 grid-parent inner-column-right">
    </div>
  </div>

  <div>
    {{#(models.length == 0 && !synced)}}
      {{>loading}}
    {{/())}}

    {{#(models.length == 0 && synced)}}
      <p>Unable to find any contests.</p>
    {{/())}}
  </div>

  <div class="contest-list">
    {{#models:i}}
      {{>contest}}
    {{/models}}
  </div>
</div>