<div class="contest">

  <h3>{{ title }}</h3>

  <p>Last updated at {{ updated.format('MMMM Do YYYY, h:mm:ss a') }}</p>
  <p>{{ precincts_reporting }} of {{ total_effected_precincts }} reporting.</p>

  <table>
    <thead>
      <tr><th>Candidate</th><th>Party</th><th>Votes</th><th>Percentage</th></tr>
    </thead>

    <tbody>
      {{#results:r}}
        <tr>
          <td>{{ candidate }}</td>
          <td>{{ party_id }}</td>
          <td>{{ votes_candidate }}</td>
          <td>{{ percentage }}</td>
        </tr>
      {{/results}}
    </tbody>
  </table>

  <div class="contest-map" id="contest-map-{{ id }}">
  </div>

</div>