<div class="contest {{ classes }}">
  <div>
    {{#(title == undefined)}}
      {{>loading}}
    {{/())}}
  </div>

  <h3>{{ title }}</h3>
  <a href="#contest/{{ contest_id }}">link</a>

  <p>
    Last updated at {{ updated.format('MMMM Do YYYY, h:mm:ss a') }} <br />
    Number of seats: {{ seats }} <br />
    Ranked-choiced race: {{ (ranked_choice == 1) ? 'Yes' : 'No' }} <br />
    {{ precincts_reporting }} of {{ total_effected_precincts }} precincts reporting.
  </p>

  <table>
    <thead>
      <tr>
        <th>Winner</th>
        <th>Candidate</th>
        <th>Incumbent</th>
        <th>Party</th>
        {{#(ranked_choice == 1)}}
          <th>1st Choice Percentage</th>
          <th>2nd Choice Percentage</th>
          <th>3rd Choice Percentage</th>
          <th>Final</th>
        {{/()}}
        {{#(ranked_choice != 1)}}
          <th>Votes</th>
          <th>Percentage</th>
        {{/()}}
      </tr>
    </thead>

    <tbody>
      {{#results:r}}
        <tr>
          <td>{{#winner}}Y{{/winner}}{{#(winner === false)}}N{{/()}}</td>
          <td>{{ candidate }}</td>
          <td>{{ incumbent_code }}</td>
          <td>{{ party_id }}</td>

          {{#(ranked_choice == 1)}}
            <td>{{ ranked_choices.1.percentage }}</td>
            <td>{{ ranked_choices.2.percentage }}</td>
            <td>{{ ranked_choices.3.percentage }}</td>
            <td>{{ ranked_choices.100.percentage }}</td>
          {{/()}}

          {{#(ranked_choice != 1)}}
            <td>{{ votes_candidate }}</td>
            <td>{{ percentage }}</td>
          {{/()}}
        </tr>
      {{/results}}
    </tbody>
  </table>

  <div class="contest-map" id="contest-map-{{ id }}">
  </div>

</div>