<div class="dashboard {{ classes }}">

  <h3>Dashboard</h3>

  <ul>
    <li><a href="#search/minneapolis+mayor">Minneapolis mayor</a></li>
    <li><a href="#search/minneapolis+ward">Minneapolis council races</a></li>
    <li><a href="#search/duluth">Duluth races</a></li>
  </ul>

  <h4>Search Location</h4>

  <ul>
    <li><a href="#location">Your location</a></li>
  </ul>

  <form>
    <label for="address-search">Search address:</label>
    <input type="text" id="address-search" />
    <input on-tap="addresssSearch" type="submit" class="address-search-submit" />
  </form>

  <h4>Search</h4>

  <form>
    <label for="contest-search">Search contests by title or candidate.  Start typing to see suggestions. <br /></label>
    <input type="text" id="contest-search" />
  </form>

</div>