<div class="contests">
  <div>
    {{#(models.length == 0)}}
      {{>loading}}
    {{/())}}
  </div>

  <h3>Contests</h3>

  {{#models:i}}
    {{>contest}}
  {{/models}}

  <div class="contest-map" id="contests-map">

  </div>
</div>