<div class="dashboard cf grid-container grid-parent {{ classes }}">

  <div class="grid-parent grid-100 location-search-section">
      <form on-submit="addresssSearch">
        <div class="location-search-group">
          <input type="text" id="address-search" placeholder="Search address for results" />

          {{#geolocationEnabled}}
            <div class="geolocation">
              <a href="#location">Or view contests at your current location</a>
            </div>
          {{/geolocationEnabled}}
        </div>

        <input type="submit" value="Go" class="address-search-submit" on-submit="addresssSearch" />
      </form>
  </div>

  <div class="grid-parent grid-100 last-updated-section">
    {{#contestMinneapolisMayor.updated}}
      <div intro="fade">
        Last updated at {{ contestMinneapolisMayor.updated.format('h:mm a') }}
      </div>
    {{/contestMinneapolisMayor.updated}}
  </div>

  <div class="grid-parent grid-50 tablet-grid-50 mobile-grid-100">
    <div class="inner-column-left">
      <div class="contest-minneapolis-mayor dashboard-section">
        {{#contestMinneapolisMayor}}
          {{>dashboardContest}}
        {{/contestMinneapolisMayor}}
      </div>

      <div class="contest-st-paul-mayor dashboard-section">
        {{#contestStPaulMayor}}
          {{>dashboardContest}}
        {{/contestStPaulMayor}}
      </div>

      <div class="contest-st-paul-council dashboard-section">
        {{#contestStPaulCouncil}}
          {{>dashboardContest}}
        {{/contestStPaulCouncil}}
      </div>

      <div class="elections-search dashboard-section">
        <h4>Other elections</h4>

        <form on-submit="contestSearch">
          <label for="contest-search">Search contests by title or candidate.  Start typing to see suggestions for specific contests, or hit Go to search for keywords, for example "<a href="#search/duluth">duluth</a>". <br /></label>
          <input type="text" id="contest-search" placeholder="Search by title or candidate" />
          <input type="submit" value="Go" class="contest-search-submit" on-submit="contestSearch" />
        </form>
      </div>
    </div>
  </div>

  <div class="grid-parent grid-50 tablet-grid-50 mobile-grid-100">
    <div class="inner-column-right">
      <div class="contest-minneapolis-council dashboard-section">
        <h4 class="title-minneapolis-council">Minneapolis City Council</h4>

        {{#contestMinneapolisCouncil3}}
          {{>dashboardContest}}
        {{/contestMinneapolisCouncil3}}

        {{#contestMinneapolisCouncil6}}
          {{>dashboardContest}}
        {{/contestMinneapolisCouncil6}}

        {{#contestMinneapolisCouncil10}}
          {{>dashboardContest}}
        {{/contestMinneapolisCouncil10}}

        {{#contestMinneapolisCouncil5}}
          {{>dashboardContest}}
        {{/contestMinneapolisCouncil5}}

        {{#contestMinneapolisCouncil9}}
          {{>dashboardContest}}
        {{/contestMinneapolisCouncil9}}

        {{#contestMinneapolisCouncil12}}
          {{>dashboardContest}}
        {{/contestMinneapolisCouncil12}}

        {{#contestMinneapolisCouncil13}}
          {{>dashboardContest}}
        {{/contestMinneapolisCouncil13}}

      </div>
    </div>
  </div>
</div>