<div class="contests">
  <a class="dashboard-link" href="#dashboard">&larr; Back to dashboard</a>

  <h3 class="contests-title">{{ (title) ? title : 'Contests' }}</h3>

  <div>
    {{#(models.length == 0)}}
      {{>loading}}
    {{/())}}
  </div>

  <div class="contest-list">
    {{#models:i}}
      {{>contest}}
    {{/models}}
  </div>

  <div class="contest-map" id="contests-map"></div>
</div>