/**
 * Main styles for: minnpost-elections-dashboard
 *
 * Make the default styles for a 960px wide screen.  A mobile
 * first approach is fine, but starting with a 960px wide
 * screen means that older browsers that do not support
 * media queries will be fine as they are all desktop browsers.
 */

/**
 * General variables
 */

$color-light-gray: #7A7A7A;
$color-medium-gray: #404040;
$color-dark-gray: #282828;


.mp .minnpost-elections-dashboard-container {
  padding-top: 2em;

  // Fullscreen
  .fullscreen-toggle {
    display: block;
    float: right;
  }
  &.fullscreen {
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 999999;
    background-color: #FFFFFF;
    padding: 3% 1.5%;

    .fullscreen-overlay {
      z-index: 999999;
      position: fixed;
      background: image-url('MinnPost_logo-200x28.png') transparent center center no-repeat;
      width: 200px;
      height: 28px;
      bottom: 10px;
      right: 10px;
      opacity: 0.8;
    }
  }

  // Maps
  .contest-map {
    width: 100%;
    height: 25em;
  }

  // Tables
  table {
    width: 100%;

    thead {

      tr.table-first-heading th {
        border-bottom: none;
        padding-bottom: 0.15em;
      }

      tr.table-second-heading th {
        padding-top: 0;
        padding-bottom: .5em;
        font-weight: normal;
        font-style: italic;
        color: $color-light-gray;
        font-size: .85em;
        line-height: 1.5em;
      }

      .small-table-label {
        display: none;
      }
    }
  }

  // Typehead
  .tt-hint {
    color: $color-light-gray;
  }

  .tt-dropdown-menu {
    font-size: 1em;
    line-height: 1.25em;
    width: 100%;
    margin-top: .25em;
    padding: .25em 0;
    background-color: #FFFFFF;
    border: 1px solid $color-light-gray;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @include border-radius(3px);
    @include box-shadow(0 5px 10px rgba(0,0,0,.2));
  }

  .tt-suggestion {
    padding: .25em .5em;

    &:hover {
      color: #FFFFFF;
      background-color: $color-dark-gray;
      cursor: pointer;
    }

    p {
      margin: 0;
    }
  }

  .tt-highlight {
    font-weight: bold;
  }

  // General
  .contest-link {
    display: block;
    text-align: right;
    margin-bottom: 1em;
    font-size: 0.85em;
  }

  .dashboard-link {
    display: block;
    margin-bottom: 1em;
  }

  .inner-column-left {
    padding-right: 1em;
  }

  .inner-column-right {
    padding-left: 1em;
  }

  // Highlighting
  .highlighter {

  }

  .highlight {
    background-color: #FBD341;
    @include transition(background-color 50ms linear);
  }

  .unhighlight {
    background-color: white;
    @include transition(background-color 3s ease);
  }

  // Parties
  .party-label {
    padding: 0.1em 0.35em;
    color: #FFFFFF;
    @include border-radius(2px);
  }

  // General table
  table {

    .winner-column {
      padding: 0;
      text-align: center;
    }

    .candidate-column {
      width: 60%;
    }

    .percentage,
    .votes {
      text-align: right;
      padding-right: 0.75em;
    }
  }

  .is-ranked-choice table .candidate-column {
    width: 50%;
  }

  .is-final table .winner-column {
    padding: .5em;
  }

  // Contest
  .contest {
    margin-bottom: 2em;

    h3 {
      margin-bottom: 0;
    }

    .last-updated {
      min-height: 1.5em;
      font-weight: bold;
      color: $color-light-gray;
      margin-bottom: 1em;
    }
  }

  // Contests
  .contests {

    .contests-title-section {
      margin-bottom: 3em;
    }

    .contests-title {
      margin-bottom: 0;
    }

    .contest-list .dashboard-link {
      display: none;
    }

    #location-map {
      width: 100%;
      height: 100px;
    }
  }

  // Dashboard
  .dashboard {

    .dashboard-section {
      margin-bottom: 2em;
    }

    .last-updated-section {
      min-height: 1.5em;
      margin-bottom: 2.5em;
      text-align: center;
      font-weight: bold;
      color: $color-light-gray;
    }

    .inner-column-left {
      padding-right: 1.5em;
    }

    .inner-column-right {
      padding-left: 1.5em;
    }

    .show-party.party-label {
      font-size: .85em;
    }

    .inner-column-right .elections-search {
      display: none;
    }

    // Dashboard contests
    .dashboard-contest {

      h3 {
        font-size: 1.55em;
        margin-bottom: .25em;
      }
    }

    // Dashboard location section
    .location-search-section {
      padding-bottom: 2em;
      margin-bottom: 2em;
      text-align: center;
      border-bottom: 1px solid $color-light-gray;

      form {
        margin-bottom: 0;

        .location-search-group {
          @include inline-block();
        }

        .form-input-group {
          width: 40em;
          margin-bottom: 0;

          .button-group {
            width: 5em;
          }
        }
      }
    }

    //Dashboard other elections links
    .other-elections {
      font-size: 1.2em;

      li {
        margin-bottom: .5em;
      }
    }
    // Dashboard elections search
    .elections-search {

      .form-input-group {
        width: 100%;
      }

      .twitter-typeahead {
        vertical-align: middle;
        width: 100%;
      }
    }
  }

  // CUSTOM DASHBOARD STUFF
  .dashboard-state-leg {

    .state-leg-boxes {
      line-height: 1em;
      margin-bottom: 1em;

      .state-leg-boxes-left,
      .state-leg-boxes-right {
        width: 50%;
        float: left;
        text-align: left;
      }

      .state-leg-boxes-left {
        text-align: right;
      }

      .state-leg-box {
        @include inline-block();
        width: 17px;
        height: 17px;
        margin: 0 5px 5px 0;
        padding: 0;
        background-color: #BCBCBC;

        &.done,
        &.some {
          background-color: #676767;
        }

        &.party-shift {
          @include box-shadow(0 0 0px 1.5px #232323);
          border: 1px solid #FFFFFF;
        }
      }
    }

    .state-leg-totals {
      text-align: center;
      font-size: 2em;
      margin-bottom: 0.5em;
    }

    .why-133 {
      margin-top: -0.75em;
      margin-bottom: 0.5em;
      text-align: center;
    }

    .state-leg-legend {
      text-align: center;
      font-size: 0.85em;
      margin-bottom: 3em;

      div {
        @include inline-block();
      }

      .legend-item {
        margin-right: 1em;
      }

      .legend-box {
        width: 17px;
        height: 17px;
        vertical-align: middle;
      }

      .unknown {
        border: 2px solid #FFFFFF;
        background-color: #BCBCBC;
      }

      .some {
        border: 2px solid #FFFFFF;
        background-color: #676767;
      }

      .solid {
        width: 14px;
        height: 14px;
        background-color: #7A7A7A;
        border-left: 7px solid #0793AB;
        border-right: 7px solid #A1000F;
      }

      .party-shift {
        @include box-shadow(0 0 0px 1.5px #232323);
        border: 1px solid #FFFFFF;
      }
    }

    .state-leg-rnet {
      text-align: center;
      margin-bottom: 4.75em;

      .heading {
        font-size: 1.5em;
        margin-bottom: 0.25em;
      }

      .sub-heading {
        font-size: 0.85em;
      }

      .rnet {
        font-weight: bold;
      }
    }
  }

  .dashboard {

    .dashboard-links {
      margin-bottom: 3em;

    }
  }

  // Larger screens and fullscreen
  @media screen and (min-width: 1025px) {

    &.fullscreen {
      font-size: 1.25em;
    }
  }
  @media screen and (max-width: 1023px) {

    .fullscreen-toggle {
      display: none;
    }
  }


  // Smaller screens
  @media screen and (max-width: 640px) {

    table thead .small-table-label {
      display: inline;
    }
    table thead .large-table-label {
      display: none;
    }

    .inner-column-left,
    .contest .inner-column-left,
    .contests .inner-column-left,
    .dashboard .inner-column-left {
      padding-right: 0;
    }

    .inner-column-right,
    .contest .inner-column-right,
    .contests .inner-column-right,
    .dashboard .inner-column-right {
      padding-left: 0;
    }

    .is-ranked-choice .candidate-column {
      width: auto;
    }

    .contest .second-choice-column {
      display: none;
    }

    .contest .third-choice-column {
      display: none;
    }

    .dashboard .location-search-section form .form-input-group {
      width: auto;
    }

    .dashboard .inner-column-left .elections-search {
      display: none;
    }
    .dashboard .inner-column-right .elections-search {
      display: block;
    }

    .dashboard-state-leg .state-leg-rnet {
      margin-bottom: 2em;
    }
  }
}
